header{
    background-color: darkblue;
    margin-top: -3%;
    padding: 2px 2px 2px 2px;
}
body{
    background-color: whitesmoke;
}
#span{
    font-size: 80%;
}
#pizzacom{
    float: right;
    height: 1260px;
    width: 30%;
}
#central{
    float: left;
    margin-left: 3%;  
    width: 65%;
}
p{
    text-align: left;
    margin-left: 3%;
    margin-right: 20%;
    color: white;
}
h1{
    margin-left: 3%;
    color: white;
}
#pizza{
    width: 80%;
    margin-top: 50%;
    
}
#sin{
    display: inline-block;
    font-size: 10px;
    
}
#queso{
    display: inline-block;
    font-size: 10px;
    margin-left: 12%;
}
#extra{
    display: inline-block;
    font-size: 10px;
    margin-left: 12%;
}
#doble{
    display: inline-block;
    font-size: 10px;
    margin-left: 12%;
}
